{
//   "extends": "eslint:recommended"
  "extends": [
    "@antfu"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
    "error", 
        {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_"
        }
    ],
    "@typescript-eslint/consistent-type-definitions": "off",
    "vue/v-on-event-hyphenation": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "curly": "off",
    "@typescript-eslint/brace-style": "off",
    "space-before-function-parent": "off"
  }
}
