{
    "extends": [
      "@antfu"
    ],
    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": ["error", 4],
        "curly": "off",
        "arrow-parens": "off",
        "semi": "off",
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/member-delimiter-style": "off",
        "array-callback-return": "off",
        "brace-style": "off",
        "vue/html-self-closing": "off",
        "vue/html-indent": "off",
        "vue/no-multiple-template-root": "off"
    }
  }
  